.img-card {
    max-width: 100%;
    max-height: 100%
}

.img-card:hover {
    max-width: 100%;
    max-height: 100%;
}

.col1 {
    background-image: url('https://images.unsplash.com/photo-1507608616759-54f48f0af0ee?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjN8fGNvb2wlMjBiYWNrZ3JvdW5kfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=800&q=60');
    background-repeat: none;
    background-size: cover;
    min-height: 28rem;
    min-width: 19rem;
    min-height: 28rem;
    min-width: 19rem;
}

.col2 {
    background-image: url('https://images.unsplash.com/photo-1601445638532-3c6f6c3aa1d6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=772&q=80');
    background-repeat: none;
    background-size: cover;
    min-height: 28rem;
    min-width: 19rem;
}

.col3 {
    background-image: url('https://images.unsplash.com/photo-1546026502-797e11a59f50?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzh8fGNvb2wlMjBiYWNrZ3JvdW5kfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=800&q=60');
    background-repeat: none;
    background-size: cover;
    min-height: 28rem;
    min-width: 19rem;
}

.hovtxt {
    background-color: #f7af9980;
    opacity: 0;
    transition-duration: 1.2s;
    transition-timing-function: ease-in-out;
    text-shadow: rgb(249, 248, 248) 1px 1px;
    min-height: 28rem;
    min-width: 19rem;
}

.hovtxt:hover {
    opacity: 30;
}
