img.about-banner-image {
    width: 60rem;
}

.img-card {
    max-width: 100%;
    max-height: 100%
}

.img-card:hover {
    max-width: 100%;
    max-height: 100%;
    background-color: #ffa07a80;
}

.caption {
    position: absolute;
}
